.userprofilepage {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.imagegallery {
	margin: 100px 20px 20px 20px;
}

.prof {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profTop {
	font-size: calc(12px + 1.2vw);
}

.profName {
	font-weight: bold;
}

.profBio {
	margin: 10px 15px 50px 15px;
	max-width: 400px;
}

.like {
}
