.login form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login input {
	height: 40px;
	padding: 0 5px;
	margin-bottom: 15px;
}

.loginheader {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 25% 0;
}

.loginheader a {
	text-decoration: none;
}

.loginheader a:visited {
	color: black;
}

#title {
	font-size: 60px;
	font-weight: bold;
	align-self: center;
}

.header-login {
	align-self: center;
	font-size: calc(18px + 1.0vw);
}