.login form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login input {
	height: 40px;
	padding-inline-start: 5px;
	margin-bottom: 15px;
	border: 2px solid rgb(221, 217, 217);
}

#loginbutton {
	border: 2px solid rgb(221, 217, 217);
	font-family: 'IBM Plex Mono', Helvetica;
	margin-top: 10px;
	padding: 10px;
}

.loginheader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 20% 0;
}

.loginheader a {
	text-decoration: none;
}

.loginheader a:visited {
	color: black;
}

#title {
	font-size: 60px;
	font-weight: bold;
	align-self: center;
	margin: 0 5%;
}

.header-login {
	align-self: center;
	font-size: calc(18px + 1.0vw);
}