.signuppage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	min-height: 100vh;
}

.signupmain {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.formpart {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid rgb(221, 217, 217);
	background-color: white;
	width: 80%;
	height: 100%;
	min-width: 300px;
	margin: 15% 0;
}

#signuplogo {
	font-size: 70px;
	padding: 5% 0;
	font-weight: bold;
}

.red {
	color: pink;
}

#getstarted {
	font-size: 30px;
}

.formpart form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 10% 5% 5% 10%;
}

.formpart input {
	height: 40px;
	margin-bottom: 15px;
	padding-inline-start: 5%;
	font-size: 15px;
	border: 2px solid rgb(221, 217, 217);
}

#signupsubmit {
	font-size: 20px;
	margin-top: 15px;
	background-color: pink;
	color: white;
	padding: 10px 0;
	font-family: 'IBM Plex Mono', Helvetica;
}

.existinguser {
	padding-bottom: 50px;
	font-size: calc(10px + 0.5vw);
}

.agree {
	margin: 0 50px 20px 50px;
	font-size: 10px;
	text-align: center;
}